<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lotions</title>
</head>
<body>
  <h1>fiksdnaijcd</h1>
  <p>sdkjbscnxicvjb ijk</p>
</body>
</html>
